<nav class="ns-navbar navbar navbar-expand-lg navbar-dark bg-dark px-3 ">
  <a class="navbar-brand" href="/">NeighborStudio</a>
  <%= render "shared/search_bar" %>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="nav-item dropdown d-flex justify-content-center">
      <%= image_tag "https://i.ibb.co/dbxPZsk/avatar-brian.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="navbarDropdown">
          <b>As a Studio Renter</b>
          <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
          <b>As a Studio Owner</b>
          <%= link_to "Manage Bookings", owner_bookings_path, class: "dropdown-item" %>
          <%= link_to "Manage Studios", owner_studios_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
    </div>
  </div>
</nav>
